*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}


div{
    display: flex;
    justify-content: center;
    background-color: orange;

}

.paragraph{
    display: flex;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}



.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border: 5px solid #ccc;
    border-radius: 10px; /* Rounded corners */
   
}