* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}





div{
width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(45deg);
  animation: rotate 5s infinite linear;
  -webkit-box-reflection:  ( to below, red,black)
}
   


.cube{
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCube 4s infinite linear;
}