*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.box {
    width: 400px;
    height: 500px;
    background-color:black;
    border: 2px solid #333;    
    padding: 20px;             
    margin-top:50px;
    margin-left:400px;        
    box-sizing: border-box;
         
  }


  img{
    margin-top:100px;
  }


p{
    color:black;
    font-size: 25px;
    background-color: black;
    text-align: top ;
}